<div>
  <mat-card-header>
    <mat-card-title>Autor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <form id="contactForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input matInput [hidden]="true" placeholder="isd" class="form-control" value="{{data.id}}}" name="id">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre completo" class="form-control" formControlName="fullname" name="fullname">
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha Cumpleaños</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Enviar</button>
    </form>
  </mat-card-content>
</div>
