<div class="component">
  <h1>Autores</h1>
  <table mat-table [dataSource]="authorsList">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo</th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>
    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef> Cumpleaños</th>
      <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab class="action_icons" (click)="onEdit(element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action_icons" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon (click)="onDelete(element)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <button mat-fab color="primary" class="add_buyer" (click)="changeDialog()"
          aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>

</div>
