
<mat-toolbar color="primary"class="app-header">
  <span  *ngIf="!isAuthenticated"  class="nav-tool-items">
    <a mat-button routerLink="signin" routerLinkActive="active">Iniciar</a>
    <a mat-button mat-raised-button routerLink="signup" routerLinkActive="active">Registrar</a>
  </span>
  <span  *ngIf="isAuthenticated"  class="nav-tool-items">
    <a mat-button  routerLink="author" routerLinkActive="active">Autores</a>
    <a mat-button  routerLink="book" routerLinkActive="active">Libros</a>
  </span>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

