<div>
  <mat-card-header>
    <mat-card-title>Libro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input matInput [hidden]="true" placeholder="id" class="form-control" value="{{data.id}}}" name="id">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre" class="form-control" formControlName="name" name="name">
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha publicado</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="datePublish" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Editorial" formControlName="editorial" class="form-control" formControlName="editorial" name="editorial">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-select formControlName="authorId">
          <mat-option value="0">Seleccione...</mat-option>
          <mat-option *ngFor="let author of authorsList" [value]="author.id">
            {{author.fullname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Enviar</button>
    </form>
  </mat-card-content>
</div>
