<div class="component">
  <h1>Libros</h1>
  <table mat-table [dataSource]="booksList">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="editorial">
      <th mat-header-cell *matHeaderCellDef> Editorial</th>
      <td mat-cell *matCellDef="let element"> {{element.editorial}} </td>
    </ng-container>
    <ng-container matColumnDef="datePublish">
      <th mat-header-cell *matHeaderCellDef> Fecha publicado</th>
      <td mat-cell *matCellDef="let element"> {{element.datePublish}} </td>
    </ng-container>
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Author</th>
      <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab class="action_icons" (click)="onEdit(element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action_icons" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon (click)="onDelete(element)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <button mat-fab color="primary" class="add_buyer" (click)="changeDialog()"
          aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>

</div>
