<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Iniciar</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="useremail" matInput placeholder="Correo">

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput  type="password" placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button (click)="onAuth()" color="accent" class="btn-block">Iniciar</button>
    </form>
  </mat-card>

</div>
