<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Registrar</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="Firstname" placeholder="Nombre">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="Lastname" placeholder="Apellido">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="UserEmail" placeholder="Correo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="Password" placeholder="Contraseña">
          <mat-label>La contraseña debe ser mayor 8. Alfanumerico</mat-label>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
